apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: 523883707112.dkr.ecr.ap-south-1.amazonaws.com/ekstestingimage:latest
          ports:
            - containerPort: 8080
          # Optional: environment variables
          # env:
          #  - name: ENV_VAR_NAME
          #    value: "value"
